    
  <h2 class="text-center"> <b>Close Area</b></h2>
<% if false %>
<% form_tag complete_posts_path, :method => :put do %>
  <ul>
  <% for task in @incomplete_tasks %>
    <li>
      <%= check_box_tag "task_ids[]", task.id %>
      <%= task.name %>
    </li>
  <% end %>
  </ul>
  <%= submit_tag "Mark as Complete" %>
<% end %>
<% end %>




  <%= render 'accountpost' %>




