<footer class="container" style="margin-Top: 300px;">
  <p class="text-center">Copyright c2016 Rails101s
    <br>Design by <a href="http://samrails.herokuapp.com" target=_new>Sam</a>
  </p>
</footer>